body {
  background-color: #000335;
  height : auto;
  width: 100%;
  overflow-x: hidden;
  
  font-family: 'Frank Ruhl Libre';

}

@media only screen and (min-width: 992px) {
 
	.col-md-3{
		position: -webkit-sticky;
		position: sticky;
		top: 0; 
		height: 100%;		
	}
 
}

.row.divme{
	background-image: url("../images/bkg.jpg"); 
	background-size: contain;
	height: 100%;
}

	
.meimg{
		max-width:150px;
		height: auto;
}

.col-md-9.divblog{
		background-color :#060a11;
		background-image: url("../images/bkg2.jpg"); 
		background-repeat: repeat-y;
	}
	
.divmeinfo{
		position: absolute;
		left: 25%;
		top: 50px;
		
		width: 60%;
		
		
		text-align: center;

	}

.col-xs-4.divmeskills{	
		margin-top: 420px;
		
		
	}




h1.name{
	color:lightblue;
	text-shadow: 2px 2px 4px #000000;
	
}
p.info{
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-size: 18px;
}
.infolink{
	color: violet;
}
.skilltitle{
	color:lightblue;
	font-size: 24px;
	text-shadow: 2px 2px 4px #000000;
}

.skill{
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 4px #000000;
}
	



h1.blogtitle{
	color: lightblue;
}

.bloginfodiv{
	color: #aaafb7;	
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 16px;
}
.blogimagediv{
	text-align:left;
	padding: 2rem;
	margin: auto;
}
.blogimage{
	max-width:180px;

}
.blogimagebigger{
	max-width:350px;
	max-height:280px;

}


@media only screen and (max-width: 450px) {
	body 
	{
		background-color: #000335;
		height : auto;
		width: auto;
		overflow-x: hidden;
	  
	}
	
	.blogimagediv{
		text-align:center;
		padding: 2rem;
	}
	.blogimagebigger
	{
		max-width:320px;
	}
 
}









