body {
  background-color: #000335;
  height : auto;
  width: 99%;
  overflow-x: hidden;

}

@media only screen and (min-width: 992px) {
 
	.col-md-4.divme{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
 
}
	
.meimg{
		max-width:150px;
		height: auto;
}

.col-md-8.divblog{
		background-color :black;
	}
	
.divmeinfo{
		position: absolute;
		left: 25%;
		top: 130px;
		
		width: 60%;
		
		
		text-align: center;

	}

.divmeskills{	
		margin-top: 500px;
		margin-left: 50px;	
	}


.skilltitle{
	color: lightblue;
}

.skill{
	color: grey;
}
	

h1.name{
	color: lightblue;
}
h1.blogtitle{
	color: lightblue;
}

p.info{
	color: grey;
}

.bloginfodiv{
	color: grey;
	width: 85%;	
}
.blogimagediv{
	text-align:left;
}
.blogimage{
	max-width:180px;

}
.blogimagebigger{
	max-width:350px;

}











