body {
  background-color: #000335;
  height : auto;
  width: 100%;
  overflow-x: hidden;
  
  background-image: url("../images/bkg.jpg"); 
  background-repeat: repeat-y;
  
  font-family: 'Frank Ruhl Libre';

}

@media only screen and (min-width: 992px) {
 
	.col-md-4.divme{
		position: -webkit-sticky;
		position: sticky;
		top: 0; 	
	}
 
}



	
.meimg{
		max-width:150px;
		height: auto;
}

.col-md-8.divblog{
		background-color :#060a11;
	}
	
.divmeinfo{
		position: absolute;
		left: 25%;
		top: 50px;
		
		width: 60%;
		
		
		text-align: center;

	}

.divmeskills{	
		margin-top: 420px;
		margin-left: 50px;	
	}




h1.name{
	color:lightblue;
	text-shadow: 2px 2px 4px #000000;
	
}
p.info{
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-size: 18px;
}
.infolink{
	color: violet;
}
.skilltitle{
	color:lightblue;
	font-size: 24px;
	text-shadow: 2px 2px 4px #000000;
}

.skill{
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 4px #000000;
}
	




h1.blogtitle{
	color: lightblue;
}


.bloginfodiv{
	color: #aaafb7;	
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 16px;
}
.blogimagediv{
	text-align:left;
	padding: 2rem;
}
.blogimage{
	max-width:180px;

}
.blogimagebigger{
	max-width:350px;

}


@media only screen and (max-width: 450px) {
	body 
	{
		background-color: #000335;
		height : auto;
		width: auto;
		overflow-x: hidden;
	  
		background-image: url("../images/bkg.jpg"); 
		background-repeat: repeat-y;
	}
	.blogimagediv{
	text-align:center;
	padding: 2rem;
	}
	.blogimagebigger
	{
		max-width:320px;
	}
 
}









